<h1>Admin Panel</h1>

<div class="tabs">
  <button [class.active]="tab==='wallets'" (click)="tab='wallets'">Wallets</button>
  <button [class.active]="tab==='deposits'" (click)="tab='deposits'">Deposits</button>
  <button [class.active]="tab==='withdraws'" (click)="tab='withdraws'">Withdraws</button>
  <button [class.active]="tab==='users'" (click)="tab='users'">Users</button>
  <button [class.active]="tab==='withdraw-methods'" (click)="tab='withdraw-methods'">Withdraw Methods</button>
</div>

<div class="admin-container">
  <div class="admin-section">
    @if (tab === 'wallets') {
      <admin-wallets></admin-wallets>
    }
    @if (tab === 'deposits') {
      <admin-deposits></admin-deposits>
    }
    @if (tab === 'users') {
      <admin-users></admin-users>
    }
    @if (tab === 'withdraw-methods') {
      <admin-withdraw-methods></admin-withdraw-methods>
    }
    @if (tab === 'withdraws') {
      <admin-withdraws></admin-withdraws>
    }
  </div>
</div>