<table mat-table [dataSource]="deposits" class="mat-elevation-z4 full-width">

  <!-- USER -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>User</th>
    <td mat-cell *matCellDef="let d">
      {{ d.user_id }}
    </td>
  </ng-container>

  <!-- AMOUNT -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
<td mat-cell *matCellDef="let d">
  {{ d.amount | number:'1.2-2' }}
</td>
  </ng-container>
<ng-container matColumnDef="proof">
  <th mat-header-cell *matHeaderCellDef>Proof</th>
  <td mat-cell *matCellDef="let d">

    <button
      *ngIf="d.status === 'pending'"
      mat-button
      color="primary"
      (click)="openProof(d.proof_url)">
      Ver
    </button>

  </td>
</ng-container>
<ng-container matColumnDef="network">
  <th mat-header-cell *matHeaderCellDef>Network</th>
  <td mat-cell *matCellDef="let d">
    {{ d.network }}
  </td>
</ng-container>
  <!-- STATUS -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let d">
      <span [ngClass]="{
        'status-pending': d.status === 'pending',
        'status-approved': d.status === 'completed',
        'status-rejected': d.status === 'rejected'
      }">
        {{ d.status }}
      </span>
    </td>
  </ng-container>

  <!-- ACTIONS -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let d">

      <button 
      *ngIf="d.status === 'pending'"
        mat-button 
        color="primary"
        (click)="approve(d.id)"
        [disabled]="d.status === 'completed'">
        Approve
      </button>

      <button 
      *ngIf="d.status === 'pending'"
        mat-button 
        color="warn"
        (click)="reject(d.id)"
        [disabled]="d.status === 'rejected'">
        Reject
      </button>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="cols"></tr>
  <tr mat-row *matRowDef="let row; columns: cols;"></tr>

</table>